*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: 'Merriweather', serif;
    scroll-behavior: smooth;
}
main{
    display: grid;
    grid-template-columns: 250px 1fr;
}
.content{
    grid-column: 2;
}
.menu{
    grid-column: 1;
    position: fixed;
    width: 250px;
    background-color: #121212;
    height: 100vh;
    color: #fff;
    box-shadow: 4px 0 8px #000;
    border-right: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 10;
}
.menu ul{
    display: flex;
    flex-direction: column;
    place-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li{
    cursor: pointer;
    list-style: none;
    margin-bottom: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
}
.name-stack{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.name-stack > h1{
    margin-left: 20px;
    font-size: 24px;
}
.name-stack > h4{
    margin-left: 20px;
    font-size: 16px;
    font-weight: lighter;
}
.linha{
    border: .5px solid #000;
    width: 100%;
}
img{
    width: 100px;
    animation: 1s ease-in-out infinite alternate pulse;
}
.skills-container{
    min-height: 100vh;
    background-color: rgb(221, 220, 220);
}
.skills-container h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* animações de scroll */
.reveal{
    position: relative;
    opacity: 0;
    transition: 1s all ease-in-out;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
    animation: fade-bottom 1s ease-in-out backwards;
}
@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

@media (max-width: 768px) {
    .menu{
        display: none;
    }
}